@font-face {
  font-family: 'TsunagiGothic';
  src: url("../font/TsunagiGothic.ttf");
}

* {

}

body {

}

.nav {
  padding-top: 5px;
  height: 250px;
  width: 100%;
  box-sizing: border-box;
}

.nav ul {
  display: flex;
  padding-left: 0;
}

.nav ul li{
  list-style: none;
}

.header img{
  margin-top: 0px;
  width: 100%;
  height: 30pc;
  object-fit: cover;
}

.title {
  margin-top: 150px;
  font-size: 70px;
  text-align: center;
  font-family: "TsunagiGothic";
}
